@import '../../../variables.scss';

.connected-device{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    &.device-mapped{
        background-color: $device-mapped;
    }
    &.device-unmapped{
        background-color: $device-unmapped;
    }
    .edit {
        display: flex;
        //border: 3px solid white;
        img {
            width: 30px;
        }
    }
}