$background: hsl(220, 13%, 18%) !default;
$input: hsl(220, 13%, 50%) !default;
$input-focus: hsl(220, 13%, 60%) !default;
$input-placeholder-text: hsl(220, 13%, 30%) !default;
$modal-content: hsl(220, 13%, 24%) !default;
$button: hsl(220, 13%, 10%) !default;
$button-active: #f5f5f5 !default;
$device-mapped: #284d35 !default;
$device-unmapped: #492d35 !default;
$device-mapping: #284d35 !default