@import '../../variables.scss';

.card {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    &-button {
        &:hover {
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }
}

input[type=text] { //input[type=text]
    //justify-self: center;
    background-color: $input;//hsl(220, 13%, 50%);
    color: black;
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem;

    &:focus {
        outline: none;
        background-color: $input-focus;
    }

    &::placeholder {
        color: $input-placeholder-text;
        opacity: 1;
    }
}